/* css reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.star-rating-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stars{
    font-size: 40px;
}

.star{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    animation: fill 0.1s ease-in;
}

.selected{
    color:gold
}
